body{
    background-color: E5E5CB;
}
.login-container {
  background: white;
  width: 29%;
  padding: 25px 35px;
  margin-top: 30px;
  margin-left: 26rem;
  border-radius: 10px;
}
.reset{
    margin-left: 7rem;
}
.emailLink{
    margin-top: 2rem;
 
}
.emailLink input{
    width: 22rem;
    padding: 0.5rem;
}
.Token{
    margin-top: 1rem;
}
.Token input{
    width: 22rem;
    padding: 0.5rem;
}
.Newpass{
    margin-top: 1rem;
}
.Newpass input{
    width: 22rem;
    padding: 0.5rem;
}
.Newpass button{
    margin-top: 0.5rem;
    background-color: #E5E5CB;
    border-radius: 0.2rem;
}
.confirmpassword{
    margin-top: 1rem;
}
.confirmpassword input{
    width: 22rem;
    padding: 0.5rem;
}
.confirmpassword button{
    margin-top: 0.5rem;
}
.CONFIRM{
    margin-left: 8rem;
    margin-top: 1rem;

}
.CONFIRM button{
    background-color: #e78120;
    width: 6rem;
    padding: 0.4rem;
    color: white;
    border-radius: 0.5rem;
}
.confirmpassword button{
    background-color: #E5E5CB;
    border-radius: 0.2rem;
}