* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container {
    width: 800px;
    padding: 2%;
    max-width: 90%;
    background: white;
    box-shadow: 0 7px 10px 1px rgba(0, 0, 0, 0.3);
    margin: 2em auto;
    border-radius: 10px;    
    max-height: 100%;

}


.container .messages {
    margin: 1em 0;
    height: 20em;
    overflow-y: scroll;
}

.container .messages .message {
    left: 20;
    padding: 5px;
    margin: 3px 0 0 0;
    width: 95%;
    border-radius: 3px;
    border: 1px solid #f8f4f4;
}

.container .messages .message.mine {
    display: block;
    right: 20; 
    color: rgb(10, 0, 0);
    background-color: #ddd;
}

.container .formBox {
    width: 100%;
    margin-top: 2em;    
}
.container .formBox form {
    display: flex;
    flex-direction: row ;
    align-items: center;
}
.container .formBox form input {
    width: 80%;
    padding: 0.4em 0.5em;
    outline: none;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

@media (max-width: 600px){
    .messages{
        height: 35em
    }
}
