.search{
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: space-between;
     border: 1px solid black;
     border-radius: 20px;
     padding: 0;
     width: 40%; 
     background-color: #FFFFFF;
     
}
.phonesearch{
    display: none;
}
.search_button{
    border-radius: 0 20px 20px 0;
    height: 32px;
    border: none;
    padding: 5px;
     width : 75px;
     background-color: #1F273E;
     color: white;
     cursor: pointer;
}
.textdiv{
    width: 100%
}
@media (max-width: 600px) {     
    .phonesearch{
        display: unset;
        display: block;
        display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: space-between;
     border: 1px solid black;
     border-radius: 20px;
     padding: 0;
     width: 40%; 
     background-color: #FFFFFF;
    }
  }
 